fastcoref==2.1.6
flair==0.12.2
gensim==4.3.1
nltk==3.8.1
pandas==1.5.3
redis==4.6.0
Requests==2.31.0
sentence_transformers==2.2.2
spacy==3.6.1
SPARQLWrapper==2.0.0
torch==2.0.0
transformers==4.31.0
wikipedia==1.4.0
